 **Combine all SQL commands you used to create this Project Management database into a script. It should include creation of the database, creation of the tables and data insertion**

In [4]:
create DATABASE Project_management;
GO

use Project_management;

CREATE table department
(dname VARCHAR(15) UNIQUE NOT NULL,
dnumber INT NOT NULL PRIMARY KEY,
mgr_ssn char(9) NULL);

create table project
(pname varchar(15) NOT NULL,
pnumber INT NOT NULL Primary Key identity,
plocation varchar(15),
dnum INT NULL);

CREATE TABLE work_on
(essn char(9) NOT NULL,
pno int,
hours decimal(3,1));

CREATE TABLE employee
(fname varchar(100),
minit char(1),
lname varchar(100),
ssn char(9) NOT NULL Primary Key,
bdate date,
address varchar(100),
sex char(1),
salary decimal(10,2),
super_ssn char(9) NULL,
dno int NULL);

insert into employee(ssn, super_ssn, dno)
values('ssn007', 'ssn009', 008),
('ssn008', 'ssn009', 009),
('ssn009', 'ssn009', 008),
('ssn010', 'ssn009', 007),
('ssn0011', 'ssn009', 010)

insert into department(dname, dnumber, mgr_ssn)
values('sara','007', 'ssn007'),
('production','008','ssn008'),
('design','009', 'ssn009'),
('marketing','010', 'ssn010'),
('planning','011', 'ssn0011');

insert into project(pname, plocation, dnum)
values('prj1', 'che', '007'),
('prj2', 'thirunel', '007'),
('prj3', 'madu', '009'),
('prj4', 'kada', '008'),
('prj5', 'krish', '009');

insert into work_on(essn)
values('ssn007'),
('ssn008'),
('ssn009'),
('ssn011'),
('ssn007');

 **Create a new view called “Project Hours” which would show for every project how many total hours were spent working on it, and the number of employees working on the project. Query the view to find project which have no hours logged**

In [5]:
create view project_hours as 
  select pno, sum(hours) as total_hours, count(essn) as num_employees
  from work_on
  group by pno;

 **Create a script which would query and print out number of people not involved in the projects.  If everyone is involved, the scripts should print “All employees are working on the projects”. Implement this by first creating a temporary table which would contain employees and the number of hours they worked on projects.**

In [21]:


select essn, sum(hours) as total_hours
into #employeeswork
from work_on
group by essn;

declare @num_employees int;
set @num_employees = 
 (select count(essn) from #employeeswork)
 if (select count(ssn) from employee) - @num_employees >0
   print 'some employees are not working on the projects'

 ELSE
  print 'All employees are working on the projects';