In [4]:
-- Create user log in with default database Master
CREATE LOGIN login_id WITH PASSWORD = 'sara79'

In [8]:
--Create a database user for the login
use AdventureWorks2019;
CREATE USER login_id FOR LOGIN login_id

In [9]:
--Grant ‘select’ to the new user on Person.Person table
use AdventureWorks2019;
GRANT select 
ON Person.Person
TO login_id;

In [10]:
--Grant ‘Update’ to the new user on Person.Address table
GRANT UPDATE
on Person.Address
TO login_id;

2. <span style="background-color: rgb(244, 244, 244); color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: 13.3333px;">For the products that are finished goods, find a product Categories with average price above 200$</span>

You need to use three tables:  Product, ProductSubcategory and Product Category

Product table contains price and subcategory, you can join it to ProductSubcategory table to get the ProductCategoryID and finally join to Product category table to get the Category description.

In [19]:
use AdventureWorks2019;
SELECT pc.Name AS Category, AVG(p.ListPrice) AS AveragePrice
FROM Production.Product p
JOIN Production.ProductSubcategory ps ON p.ProductSubcategoryID = ps.ProductSubcategoryID
JOIN Production.ProductCategory pc ON ps.ProductCategoryID = pc.ProductCategoryID
WHERE pc.Name IN (SELECT pc.Name 
                     FROM Production.ProductCategory pc 
                     JOIN Production.ProductSubcategory ps ON pc.ProductCategoryID = ps.ProductCategoryID 
                     JOIN Production.Product p ON ps.ProductSubcategoryID = p.ProductSubcategoryID
                     WHERE p.FinishedGoodsFlag = 1)
GROUP BY pc.Name
HAVING AVG(p.ListPrice) > 200;

Category,AveragePrice
Bikes,1586.737
Components,469.8602