<span style="color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: 13.3333px; background-color: rgb(244, 244, 244);">1. Write SELECT INTO statements to create two test tables named VendorCopy and InvoiceCopy that are complete copies of the Vendors and Invoices tables. If VendorCopy and InvoiceCopy already exist, first code two DROP TABLE statements to delete them.</span>

In [1]:
use AP;

In [9]:
drop Table VendorCopy
drop table InvoiceCopy
Select * 
Into VendorCopy
From Vendors
Select * 
Into InvoiceCopy
From Invoices;

2\. Write an INSERT statement that adds a row to the InvoiceCopy table created in class with the following values:

- - VendorID: 32
        - InvoiceTotal: $434.58
        - TermsID: 2
        - InvoiceNumber: AX-014-027
        - PaymentTotal: $0.00 InvoiceDueDate: 05/8/2020
        - InvoiceDate: 4/21/2020
        - CreditTotal: $0.00
        - PaymentDate: null

In [15]:
Insert into InvoiceCopy
(VendorID, InvoiceTotal, TermsID, InvoiceNumber, PaymentTotal, InvoiceDueDate, InvoiceDate, CreditTotal, PaymentDate)
values (32,434.58, 2,'AX-014-027' ,0.00, '05/8/2020', '4/21/2020', 0.00, NULL );

<span style="color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: 13.3333px; background-color: rgb(255, 255, 255);">3. Write an UPDATE statement that modifies the Vendor table. Change the default account number to 403 for each vendor that has a default account number of 400.</span>

In [16]:
update Vendors
set DefaultAccountNo = 403
where DefaultAccountNo = 400

<span style="color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: 13.3333px; background-color: rgb(255, 255, 255);">4. Write an INSERT statement that adds a row to the VendorCopy table for each non-California vendor in the Vendors table. (This will result in duplicate vendors in the VendorCopy table.)</span>

In [21]:
Insert into VendorCopy 
select *
from Vendors as ve
where ve.VendorState <> 'CA';

: Msg 8101, Level 16, State 1, Line 1
An explicit value for the identity column in table 'VendorCopy' can only be specified when a column list is used and IDENTITY_INSERT is ON.

5.   <span style="color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: 13.3333px; background-color: rgb(255, 255, 255);">&nbsp;Write an UPDATE statement that modifies the InvoiceCopy table. Change the PaymentDate to today’s date and the PaymentTotal to the balance due for each invoice with a balance due. Set today’s date with a literal date string, or use the GETDATE() function.</span>

In [26]:
update InvoiceCopy 
set PaymentDate = GETDATE(), PaymentTotal = CreditTotal
where CreditTotal<>0;

<span style="color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: 13.3333px; background-color: rgb(255, 255, 255);">6. Write an UPDATE statement that modifies the InvoiceCopy table. Change TermsID to 2 for each invoice that’s from a vendor with a DefaultTermsID of 2. Use a subquery.</span>

In [28]:
Update InvoiceCopy
set TermsID = 2
where VendorID IN (select VendorID from Vendors where DefaultTermsID = 2)

<span style="color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: 13.3333px; background-color: rgb(255, 255, 255);">7. Write a DELETE statement that deletes all vendors in the state of Minnesota from the VendorCopy table.</span>

In [29]:
Delete VendorCopy
where VendorState = 'MN'

8. <span style="color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: 13.3333px; background-color: rgb(255, 255, 255);">Write SELECT INTO statements to create two test tables named VendorCopy and InvoiceCopy that are complete copies of the Vendors and Invoices tables. If VendorCopy and InvoiceCopy already exist, first code two DROP TABLE statements to delete them.</span>

In [30]:
drop Table VendorCopy
drop table InvoiceCopy
Select * 
Into VendorCopy
From Vendors
Select * 
Into InvoiceCopy
From Invoices;