1. Write one paragraph documendign your assumption based on the following ERD and your understnding of the business domain

<span style="color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: 13.3333px; background-color: rgb(240, 240, 240);">2. Create database called ‘Project management'</span>

<span style="color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: 13.3333px; background-color: rgb(240, 240, 240);"><br></span>

In [2]:
create DATABASE Project_management;
GO

3. <span style="font-style: inherit; font-weight: inherit; background-color: rgb(240, 240, 240); color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: 13.3333px;">Create 4 tables based on the diagram below</span>

1. 1. Include all of constraints
    2. Include primary key and foreign key
    3. Use identity function for the primary key in the Project table

In [3]:
use Project_management;

**Creating tables with primary key.**

**Populating with five rows.**

In [4]:
CREATE table department
(dname VARCHAR(15) UNIQUE NOT NULL,
dnumber INT NOT NULL PRIMARY KEY,
mgr_ssn char(9) NULL);

In [5]:
insert into department(dname, dnumber, mgr_ssn)
values('sara','007', 'ssn007'),
('production','008','ssn008'),
('design','009', 'ssn009'),
('marketing','010', 'ssn010'),
('planning','011', 'ssn0011');

In [6]:
create table project
(pname varchar(15) NOT NULL,
pnumber INT NOT NULL Primary Key identity,
plocation varchar(15),
dnum INT NULL);

In [7]:
insert into project(pname, plocation, dnum)
values('prj1', 'che', '007'),
('prj2', 'thirunel', '007'),
('prj3', 'madu', '009'),
('prj4', 'kada', '008'),
('prj5', 'krish', '009');

In [8]:
CREATE TABLE work_on
(essn char(9) NOT NULL,
pno int,
hours decimal(3,1));

In [9]:
insert into work_on(essn)
values('ssn007'),
('ssn008'),
('ssn009'),
('ssn011'),
('ssn007');

In [10]:
CREATE TABLE employee
(fname varchar(100),
minit char(1),
lname varchar(100),
ssn char(9) NOT NULL Primary Key,
bdate date,
address varchar(100),
sex char(1),
salary decimal(10,2),
super_ssn char(9) NULL,
dno int NULL);

In [11]:
insert into employee(ssn, super_ssn, dno)
values('ssn007', 'ssn009', 008),
('ssn008', 'ssn009', 009),
('ssn009', 'ssn009', 008),
('ssn010', 'ssn009', 007),
('ssn0011', 'ssn009', 010)

**Building relationship among tables, using foreign keys.**

In [12]:
alter TABLE department

add FOREIGN KEY(mgr_ssn) REFERENCES employee(ssn) on update no action;

In [13]:
alter TABLE project

add FOREIGN KEY(dnum) REFERENCES department(dnumber) on update no action;

In [14]:
alter TABLE work_on
add FOREIGN KEY(essn) REFERENCES employee;
alter table work_on
add FOREIGN KEY(pno) REFERENCES project;

: Msg 547, Level 16, State 0, Line 1
The ALTER TABLE statement conflicted with the FOREIGN KEY constraint "FK__work_on__essn__3E52440B". The conflict occurred in database "Project_management", table "dbo.employee", column 'ssn'.

In [15]:
alter TABLE employee
add FOREIGN KEY(super_ssn) REFERENCES employee;

alter table employee
add FOREIGN KEY(dno) REFERENCES department on delete no action;