**With AP database**

1\. Write a SELECT statement that returns two columns based on the Vendors table. The first column, Contact, is the vendor contact name in this format: first name followed by last initial (for example, “John S.”) The second column, Phone, is the VendorPhone column without the area code. Only return rows for those vendors in the 559 area code. Sort the result set by first name, then last name.

In [1]:
use AP;

In [13]:
select VendorContactFName + ' ' + LEFT(VendorContactLName, 1) + '.' as Contact, 
RIGHT(VendorPhone, 8) as Phone 
from Vendors
where SUBSTRING(VendorPhone, 2, 3) = 559
order by VendorContactFName, VendorContactLName

Contact,Phone
Alexandro A.,555-2993
Anders R.,555-5570
Anne B.,555-7900
Bill L.,555-9375
Caitlin J.,555-2420
Deangelo S.,555-6621
Demetrius H.,555-1534
Derek C.,555-3005
Erick K.,555-1551
Fyodor F.,555-7785
Harold S.,555-2770
Jaime R.,555-8625
Jeffrey S.,555-8700
Johnathon M.,555-1881
Kaitlin H.,555-5106
Kaylea C.,555-0765
Kendall M.,555-9999
Kila B.,555-3482
Kyle M.,555-6151
Kyra F.,555-8300
Leah C.,555-4442
Leann R.,555-7473
Marvin Q.,555-9586
Moises J.,555-3801
Nathanael R.,555-4744
Quentin W.,555-3112
Rachael D.,555-1704
Reba H.,555-0600
Robert A.,555-2631
Rowan K.,555-8060
Salina E.,555-7070
Thom A.,555-8484
Trisha A.,555-6643
Walter B.,555-5100

<span style="color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: 13.3333px; background-color: rgb(244, 244, 244);">2. Write a SELECT statement that returns the InvoiceNumber and balance due for every invoice with a non-zero balance and an InvoiceDueDate that’s less than 30 days from 2020-01-01.</span>

In [14]:
select I.InvoiceNumber, InvoiceTotal-CreditTotal-PaymentTotal as "balance due"
from Invoices I 
where InvoiceTotal-CreditTotal-PaymentTotal <> 0 AND 
InvoiceDueDate > '2020-01-01' and InvoiceDueDate <= '2020-01-31'

In [21]:
--above given result is verified here, no Invoiceduedate is in first month--
select I.InvoiceNumber, InvoiceTotal-CreditTotal-PaymentTotal as "balance due", InvoiceDueDate
from Invoices I 
where InvoiceTotal-CreditTotal-PaymentTotal <> 0

InvoiceNumber,balance due,InvoiceDueDate
39104,85.31,2020-02-09
963253264,52.25,2020-02-17
31361833,579.42,2020-02-10
263253268,59.97,2020-02-20
263253270,67.92,2020-02-21
263253273,30.75,2020-02-21
P-0608,19351.18,2020-02-22
9982771,503.20,2020-02-23
134116,90.36,2020-02-17
0-2436,10976.06,2020-02-29
547480102,224.00,2020-02-29

 **With Adventure Works database:** <span style="color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: 13.3333px; background-color: rgb(244, 244, 244);"><br></span>

<span style="color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: 13.3333px; background-color: rgb(244, 244, 244);">3. Create tiers for sales bonus amounts for all salespoeple with territories assigned. Us Sales.SalesPerson table. Use 'Case' function</span>

In [22]:
use AdventureWorks2019

In [47]:
select ss.Bonus, ss.TerritoryID, SalesLastYear,
CASE
 when Bonus between 0 and 3000
 then 'low bonus'
 when Bonus between 3000 and 5000
 then 'average bonus'
 when Bonus > 5000
 then 'high bonus'
END as Bonus_status
from Sales.SalesPerson ss
where TerritoryID is not null and SalesLastYear <>0

Bonus,TerritoryID,SalesLastYear,Bonus_status
4100.00,2,1750406.4785,average bonus
2000.00,4,1439156.0291,low bonus
2500.00,3,1997186.2037,low bonus
500.00,6,1620276.8966,low bonus
6700.00,5,1849640.9418,high bonus
5000.00,1,1927059.178,average bonus
3550.00,4,2073505.9999,average bonus
5000.00,6,2038234.6549,average bonus
3500.00,1,1371635.3158,average bonus
5650.00,9,2278548.9776,high bonus
75.00,8,1307949.7917,low bonus
5150.00,10,1635823.3967,high bonus
985.00,7,2396539.7601,low bonus

<span style="color: rgb(0, 0, 0); font-family: arial, helvetica, sans-serif; font-size: 13.3333px; background-color: rgb(244, 244, 244);">4. Create a table showing the total sales generated in each of the bonus tiers. You will need to use ‘select … into ‘command. Use query created for the previous question as a subquery to accomplish this task.</span>

In [55]:
drop table Sales.Total
--creating table called 'Sales.Total'
select sum(tier.SalesLastYear) as Total, Bonus_status
into Sales.Total 
from (select ss.Bonus, ss.TerritoryID, SalesLastYear,
CASE
 when Bonus between 0 and 3000
 then 'low bonus'
 when Bonus between 3000 and 5000
 then 'average bonus'
 when Bonus > 5000
 then 'high bonus'
END as Bonus_status
from Sales.SalesPerson ss
where TerritoryID is not null and SalesLastYear <>0) as tier
GROUP by Bonus_status;

In [56]:
select * from Sales.Total;

Total,Bonus_status
9160841.6271,average bonus
5764013.3161,high bonus
8761108.6812,low bonus